GITHUB_USERNAME= # github username
GITHUB_TOKEN= # github token
GITHUB_REPOSITORY= # github repo name
REPO_PATH= # github repo path on server
INSTAGRAM_USERNAME= # 계정 사용자 이름
INSTAGRAM_PASSWORD= # 계정 비밀번호
OTP_SECRET= # 2단게 인증을 완료한 OTP Secret Key